<?php

declare(strict_types=1);

namespace App\Processes\Gates;

use Flows\Gates\FuseGate;

class <!--name-->Gate extends FuseGate
{
    /**
     * @return bool Stop flow
     */
    public function __invoke(): bool {}

    /**
     * @param bool $forSerialization
     */
    public function cleanUp(bool $forSerialization = false): void {}
}
