<?php

declare(strict_types=1);

namespace App\Processes\Gates;

use Flows\Gates\XorGate;

class <!--gate-name-->Gate extends XorGate
{
    /**
     * @return string
     */
    public function __invoke(): string {}

    /**
     * @param bool $forSerialization
     */
    public function cleanUp(bool $forSerialization = false): void {}
}
