<?php

declare(strict_types=1);

namespace App\Processes\Gates;

use Flows\Gates\UndoStateGate;

class <!--name-->Gate extends UndoStateGate
{
    /**
     * @return int Go back n savepoints in process
     */
    public function __invoke(): int {}

    /**
     * @param bool $forSerialization
     */
    public function cleanUp(bool $forSerialization = false): void {}
}
