<?php

declare(strict_types=1);

namespace App\Processes\Gates;

use Flows\Gates\EventGate;
use Flows\Gates\Events;

class <!--gate-name-->Gate extends EventGate
{
    /**
     * @return string
     */
    public function __invoke(): string
    {
        $this->expires = 1;
        $this->pushEvent();
        $this->waitForEvent();
        return $this->winner;
    }

    /**
     * @param bool $forSerialization
     */
    public function cleanUp(bool $forSerialization = false): void {}
}
