<?php

declare(strict_types=1);

namespace App\Processes\Gates;

use Flows\Gates\AndGate;

class <!--name-->Gate extends AndGate
{
    /**
     * @return array<int, string> Processes to run next
     */
    public function __invoke(): array
    {
        return [];
    }

    /**
     * @param bool $forSerialization
     */
    public function cleanUp(bool $forSerialization = false): void {}
}
