<?php

declare(strict_types=1);

namespace App\Observers;

<!--use-attributes-list-->
use Flows\Contracts\Observer;

<!--handle-timing-attribute-->
class <!--observer-name-->Observer implements Observer
{
    public function observe(object $subject): void {}
}
