<?php

namespace App\Processes;

use Flows\Processes\Process;
<!--use-list-->

class <!--name-->Process extends Process
{
    public function __construct()
    {
        $this->tasks = [
<!--task-list-->
        ];
        parent::__construct();
    }
}
