<?php

declare(strict_types=1);

namespace App\Services;

use Flows\Attributes\Lazy;
use Flows\Attributes\Singleton;

#[Lazy(<!--is-lazy-->)]
#[Singleton(<!--is-singleton-->)]
class <!--name-->Service 
{
    public function __construct() {}
}
